<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<nav>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="logout">Log Out</a>
    {% else %}
      <li><a href="register">Register</a>
      <li><a href="login">Log In</a>
    {% endif %}
  </ul>
</nav>

<body>
<!--
  <h1>Some famous Computer Scientists</h1>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
-->

<h1>Movie Database</h1>

<p><a href="movies">See Movies</a></p>
<p><a href="genres">See Genres</a></p>
<p><a href="directors">See Directors</a></p>
<p><a href="actors">See Actors</a></p>

<h2>Some interesting queries:</h2>



<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>
